* {
    font-family: "Inter";
}

a {
    text-decoration: none;
    color: #000;
}

/* General Row Structure Div */
.row {
    max-width: 100%;
}

/* Navbar */
.navtop {
    /* border: 1px solid #000006; */
    background-color: #DDD8E9;
    padding: 0.5%;
}

.nav-link {
    color: #3D2A62;
    font-weight: bold;
}

body {
    background-color: rgb(236, 235, 241) !important;
}

.text {
    margin-left: 10%;
}

h1.text {
    margin-top: 100px
}

.iframe {
    width: 85%;
    margin: 0px auto;
    margin-bottom: 5%;
    justify-content: center;
    display: flex;
    height: 1300px
}

.navtop {
    /* border: 1px solid #000006; */
    background-color: #DDD8E9;
    padding: 0.5%;
}

.nav-link {
    color: #3D2A62;
    font-weight: bold;
}


/* Footer */
.footer {
    padding: 0.5%;
    background-color: #DDD8E9;
}

.footerlink {
    color: #3D2A62;
    font-weight: normal;
}